<h1 style="text-align: center;">Employes Profile</h1>
<form action="/logout" method="POST">
    <input type="submit" value="logout" style="background-color: rgb(248, 172, 7);border-radius:30%;margin:auto"></form>
<h3 style="color: rgb(255, 8, 0);text-align: center">If You are Joined any Company then Leave that compnay for joining
    Other company</h3>
<div style="text-align: center;">
    <button>
        <h3><a style="color: rgb(216, 19, 167);" href='/addCompany'>Create Your Own Comapny</a></h3>
    </button></div>
<ul>
    {{#each info}}
    <li style="list-style: none;">
        <h3><em>Name</em> : <span>{{this.name}}</span></h3>
        <h3><em>Email Id</em> : <span>{{this.email}}</span></h3>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
    </li>
    {{/each}}
    {{#if len}}
    {{#each cur_company}}
    <h3>Current Compnay Information</h3>
    <li style="list-style: none;">
        <h3><em>Name</em> : <span style="color: chartreuse;">{{this.companyName}}</span></h3>
        <h3><em>Joined Date</em> : <span style="color: chartreuse;">{{this.joinedAt}}</span></h3>
        <form action="/leave" method="POST">
            <input type="submit" value="Leave Company"></form>
        <hr>
        <hr>
    </li>
    {{/each}}
    {{else}}
    <h1>You are not join any company Join Now <button><a style="color: brown;" href='/companys'>Click here</a></button>
    </h1>
    {{/if}}
    <hr>
    <hr>
    <hr>
    <hr>
    <h1>Your History</h1>
    {{#each history}}
    <li style="list-style: none;">
        <h3><em>Name</em> : <span style="color: chartreuse;">{{this.companyName}}</span></h3>
        <h3><em>Joined Date</em> : <span style="color: chartreuse;">{{this.joinedAt}}</span></h3>
        <h3><em>Leaved Date</em> : <span style="color: chartreuse;">{{this.leavedAt}}</span></h3>
        <hr>
    </li>
    {{/each}}

</ul>